#navbar-background {
  width: 100%;
  background-color: #121212;
  position: absolute;
}

#navbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  padding: 2px 0px;
  background-color: #121212;
}

#dropdown-content + div {
  background-color: #121212;
  border-width: 0px;
}

.logo {
  width: 45px;
}

.logo-wrapper {
  @media (max-width: 991px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
  }
}

.social-icon {
  width: 45px;
  padding: 5px 0px;

  @media (max-width: 491px) {
    width: 0px;
  }
}