#navbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  padding: 0px 0px;
  position: fixed;
  width: 100vw;
  background-color: #121212;
  z-index: 2;
}

#dropdown-content+div {
  background-color: #121212;
  border-width: 0px;
}

#offcanvas-dropdown-content+div {
  background-color: #242424;
  border-width: 0px;
}

.download-image {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.logo {
  width: 45px;
}

.logo-wrapper {
  @media (max-width: 991px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
  }
}

.middle-margin {
  margin: 0px 8px;
}

.navbar-content {
  --bs-navbar-color: rgba(255, 255, 255, 0.87);
}

.offcanvas-background {
  background-color: #242424;
}

.offcanvas-hr {
  margin: 0px 15px;
}

.offcanvas-title {
  color: #91FE3C;
}

.cursor-pointer {
  cursor: pointer;
}

.resume-button {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #91FE3C;
  color: #121212;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 110px;
  height: 45px;
  margin: 5px 0px;
  padding: 0px;
}

.resume-button:hover {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}

.right-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-icon {
  width: 45px;
  border-width: -10px;

  @media (max-width: 500px) {
    width: 0px;
  }
}

.social-icon:hover {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}