#body-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: start;
  flex-wrap: wrap;
}

.about-section-box {
  width: 100%;
  max-width: 500px;
}

.background-container-purrfect-escape {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('./Purrfect-Escape_Background.png');
  background-position: center;
}

.background-container-sauve-chouris {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('./Sauve_Chouris_background.png');
  background-position: center;
}

.background-container-stepping-stones {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2) ), url('./Stepping-Stones-Background.PNG');
  background-position: center;
}

.background-container-test {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('./TEST_background.png');
  background-position: center;
}

.contact-box {
  max-width: 300px;
  width: 100%;
  margin-bottom: 30px;
}

.contact-icon {
  max-width: 100px;
  width: 100%;
}

.contact-icon-link {
  max-width: 100px;
  width: 100%;
  cursor: pointer;
}

.contact-icon-link:hover {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}

.contact-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content {
  max-width: 1320px;
  min-width: 320px;
  width: calc(100% - 20px);
  margin: 10px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-space {
  height: 55px;
  width: 100%;
}

.info-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.info-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.picture {
  border: 3px solid #91FE3C;
  border-radius: 20px;
  max-width: 250px;
  width: 100%;
}

.picture-container {
  width: 100%;
  text-align: center;
}

.play-button {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #91FE3C;
  color: #121212;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 45px;
  padding: 10px;
}

.play-button:hover {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}

.play-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button-icon {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

.portfolio-main-media {
  max-width: 625px;
  width: 100%;
  cursor: pointer;
}

.portfolio-media {
  width: 110px;
  margin: 5px 3px;
  cursor: pointer;
}

.portfolio-media-selected {
  border: 2px solid #91FE3C;
}

.portfolio-medias {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;

  @media (max-width: 609px) {
    justify-content: start;
  }
}

.portfolio-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: start;
  flex-wrap: wrap;
}

.portfolio-section-box {
  max-width: 625px;
  width: 100%;
}

.programmer-name {
  color: #91FE3C;
  font-size: calc(1.375rem + 2vw);
}

.section {
  width: 100%;
}

.section-title {
  color: #91FE3C;
}

.test-background {
  width: 100vw;
}

.video-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  width: 100%;
  max-height: 80vh;
  position: absolute;
  overflow: hidden;
}

.welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1920px;
  height: 874px;
  max-width: calc(100% - 30px);
  max-height: 80vh;
  z-index: 1;
  margin: 0px 15px;
}